#kevin{
width:100%;
margin-top:20px;
}

#sonicLogo{

margin:20px 20px 0px 150px;


}

#triviaQuestions{
background-color: #2f5414;
height: 400px;
margin-top:20px;



}


#aboutKevin{

font-family: 'Gloria Hallelujah', cursive;
text-align:center;
color:#2f5414;




}

#startButton{
 margin-left:10px;
 margin-top: 10px;




}